*{
	margin: 0 0;
	padding: 0 0;
}
.app{
	/*position*/
	position: relative;
	width: 100%;
	height: auto;

	/*style*/
}
.tabelControlApp{
	/*position*/
	position: absolute;
	width: 100px;
	height: 100px;

	/*style*/
	top: 0px;
	left: 0px;
	background: #aaa;
}
.moveApp{
	/*position*/
	position: absolute;
	width: 50px;
	height: 50px;

	/*style*/
	top: 100px;
	left: 100px;
	background: #aaf;
}