*{
	margin: 0 0;
	padding: 0 0;
}
.app{
	/*position*/
	position: relative;
	width: 100%;
	height: auto;

	/*style*/
}
.targetApp{
	/*position*/
	position: absolute;
	width: auto;
	height: auto;

	/*style*/
	top: 0px;
	left: 0px;
	background: #aaa;
}
.img{
	/*position*/
	position: absolute;
	display: block;
	height: auto;

	/*style*/
}
.moveMe{
	/*position*/
	position: absolute;
	width: 40px;
	height: 40px;

	/*style*/
	display: inline-block;
	background: #aaa;
	border-radius: 20px 20px;
	visibility: hidden;
	font-size: 12px;
	line-height: 40px;
	text-align: center;
	filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
	-moz-opacity:0.5; /*Firefox私有，透明度50%*/
	opacity:0.5;/*其他，透明度50%*/
}
.visibled{
	/*position*/

	/*style*/
	visibility: visible;
}